{% extends "canoe_club/base.html" %}
{% block title_block %}
    Reset Password
{% endblock %}

{% block body_block %}
    <div class="container">
    {% if password_changed %}
        <strong>Your password has been successfully changed! <a href="{% url 'canoe_club:login' %}">Login</a>. </strong>
    {% else %}
        <h1>Reset Password</h1>
        <p>Please enter your new password</p>
        <form id="password_reset_confirm_form" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="submit" />
        </form>
    </div>
    {% endif %}
{% endblock %}