{% extends "canoe_club/base.html" %}

{% block title_block %}
    Log Out
{% endblock %}

{% block body_block %}
    <div class="container">
        <h1 class="text-center">Log Out</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="container w-25 d-block h-75 rounded text-white p-2" style="background-color: rgba(0,0,0,0.25);">
        <form id="logout_form" method="POST">
        {% csrf_token %}
            <h4 class="text-center">Are you sure you want to logout?</h4>
            <div class="justify-content-center text-center">
              <a href="{% url 'canoe_club:index' %}">
                <button class="w-50 btn btn-lg btn-outline-light" href="{% url 'canoe_club:index' %}" type="submit">Logout</button>
              </a>
              </div>
        </form>
    </div>
    {% else %}
    <p>
        <strong>You're not logged in! Would you like to <a href="{% url 'canoe_club:login' %}">login</a>?</strong>
    </p>
    {% endif %}
{% endblock %}
