{% extends 'canoe_club/base.html' %}
{% load staticfiles %}

{% block title_block %}
    about
{% endblock %}

<head>
    <style>
        @include media-breakpoint-down(md) {.about {display: block;}}
    </style>

</head>

{% block body_block %}
<div class="container text-center">
  <h2 class="pt-0 pb-2">About Canoe Club</h2>
  <div class="row">
    <div class="col">
    <img src="{% static 'images/fresher_paddling.jpg' %}" class="img-fluid rounded mt-3" alt="fresher paddling on some white water">

    </div>
    <div class="col rounded mt-3 text-white" style="background-color: rgba(0,0,0,0.35);">
      <h4>Trips</h4><br>
        <p>A key part of being a member of GUCC is getting out and about on weekends for paddling and fun. We run a wide range of both day and weekend long trips exploring all corners of Scotland near and far. Our trips happen most weekends and we make sure to paddle a variety of different rivers to cater for all standards of paddlers. Whether you’re the freshest of freshers or a long-time big sender you’ll be able to have fun and push yourself on a GUCC trip.</p>
        <p>The first weekend trip of the year is FRESHERS WEEKEND, this trip is catered towards our newer members and will allow you to get comfortable in a boat in a beginner friendly environment with help and coaching from our friendly older members. There are also plenty of social activities in the evening for everyone to get to know each other and feel included in the GUCC family.</p>
        <p>The annual surf trip to beautiful MACHRIHANISH on the west coast is a highlight of the GUCC year. Prepare for exhilarating surfing and swimming by day and partying hard by night! As one of our more ‘seshy’ weekends we cannot guarantee that your liver will be happy by the end but your heart and soul certainly will.</p>
        <p>INTERMEDIATE WEEKEND is a great chance to get acquainted with some of Scotlands slightly spicier and harder rivers. If you’re a more confident paddler and looking to shred some Gnarr and push yourself then this is the trip for you. Just like our other weekend trips there is plenty of fun and games to be had in the evenings once paddling is over for the day.</p>
        <p>To round off the year is our much anticipated ALPS trip, two weeks of sun, sending, and shenanigans in the French Alps that is definitely not to be missed.</div>
  </div>

<div class="row">
  <div class="col rounded mt-3 text-white" style="background-color: rgba(0,0,0,0.35)">
      <h4>Socials</h4><br>
      <p>If you want to be part of the club but have no interest in actually Kayaking, WE WANT YOU! We’ve got tons of social events throughout the year that you'll definitely want to get in on.</p>
      <p>Our famous SCAVENGER HUNT; where the older members take groups of freshers around all the best bars in the west end and get them rickety wrecked on booze, performing various challenges along the way. Topped off with a cheeky sesh in Buff Club.</p>
      <p>Another favourite is WALLABY ISLAND where, at the end of each year, we paddle out to an island in the middle of Loch Lomond and drink to forget the sins of the previous year. Whether wallabies still inhabit Inchconnachan is up for speculation but a class night of drinks and banter is nonetheless guaranteed.</p>
      <p>Fear not any non-drinkers out there who haven't been scared off; we aim to be as inclusive as possible and try to match the number of drinking socials we host with other, non- alcohol related, events so that our livers may recover. These include but aren't limited to film nights, potlucks, games nights etc.</p>
      <p>One of our classier events is our CHRISTMAS DINNER where we dress to impress and sit down for a 3-course dinner at Bank Street. It’s a great way for the club to get together and see off the first semester before everyone heads home for Christmas. Don't be scared off by tales of previous dinners and older members unable to handle their drink *cough* Cameron *cough*.</p>
      <p>These are just a few of our socials. With so many throughout the year we encourage everyone to come along to as many as they can!</p>
  </div>

  <div class="col ">
    <img class="img-fluid rounded mt-3" style="column-gap: 20px;" src="{% static 'images/social.jpg' %}" alt="image">
  </div>
</div>
{% endblock %}