{% extends "canoe_club/base.html" %}
{% load staticfiles %}
{% block title_block %}
    Edit Profile
{% endblock %}
{% block body_block %}
<div class="container">
  <h1>Edit Profile</h1>
</div>

    <div class="container">
      <div class="row">
      {% if user.profile.picture %}
        <img src ="{{ MEDIA_URL }}{{ user.profile.picture.url }}" alt="" width="200" height="200"
             alt="{{ user.username }}'s profile image" />
      {% else %}
        <img src="{% static 'images/default_user_profile.jpg' %}" width="200" height="200">
      {% endif %}
        <br/>
        <form id="user_form" method="post" action="{% url 'canoe_club:edit_profile' %}" enctype="multipart/form-data" class="" >
          {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
          <button class="w-25 btn btn-lg btn-outline-light mt-2" type="submit" value="Update">Update</button>
        </form>
        </div>
        <br/>
    </div>
{% endblock %}