{% extends "canoe_club/base.html" %}

{% block title_block %}
    Reset Password
{% endblock %}

{% block body_block %}
    {% if email_sent %}
    <strong>Email sent! Remember to check your junk. <a href="{% url 'canoe_club:index' %}">Return home</a>.</strong>
    {% else %}
    <div class="container">
        <h1>Reset Password</h1>
        <p>Forgotten your password? Enter your email below and we'll send you a reset link.</p>
        <form id="reset_password_form" method="post" action="{% url 'canoe_club:reset_password' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="send email"/>

        </form>
    </div>
    {% endif %}
{% endblock %}