{% extends 'canoe_club/base.html' %}
{% load staticfiles %}

{% block title_block %}
    homepage
{% endblock %}

{% block body_block %}
    <h1 class="text-center">Welcome to the canoe club</h1>
        <div class="row">
            <div class="col text-center">
                <div>
                    {% if trips %}
                        <h2>Upcoming trips</h2>
                        <div class="p-2 m-3 text-white rounded" style="background-color: rgba(51,214,41,0.25)">
                            <ul class="mb-0">
                                {% for trip in trips %}
                                    <li class="text-center m-1" style="list-style-type: none;">
                                        <a href="{% url 'canoe_club:trip' trip.slug %}" style="color: rgb(25,107,20);font-weight: bold">{{ trip.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                            <strong>There are no upcoming trips</strong>
                    {% endif %}
                </div>
            </div>

            <div class="col text-center">
                <div>
                    {% if socials %}
                        <h2 class="p-1">Upcoming socials</h2>
                        <div class="p-2 m-3 text-white rounded" style="background-color: rgba(222,44,216,0.25)">
                            <ul class="mb-0">
                                {% for social in socials %}
                                    <li class="text-center m-1" style="list-style-type: none;">
                                        <a href="{% url 'canoe_club:social' social.slug %}" style="color: #943bc4;font-weight: bold">{{ social.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% else %}
                            <strong>There are no upcoming Socials</strong>
                    {% endif %}
                </div>
            </div>
        </div>

    <img src="{% static 'images/canoe_club_photo_2023.jpeg' %}" alt="canoe club 2023 club picture" class="img-fluid rounded mx-auto d-block"/>
{#    <img src="{% static 'images/canoe_club_photo_2022.jpg' %}" alt="canoe club 2022 club picture" class="img-fluid rounded mx-auto d-block"/>#}

{% endblock %}