{% extends 'canoe_club/base.html' %}
{% load staticfiles %}

{% block title_block %}
    homepage
{% endblock %}

{% block body_block %}
<h1>welcome to the canoe club</h1>
<div>
    {% if trips %}
    <h2>Upcoming trips</h2>
    <ul>
        {% for trip in trips %}
        <li>list items for each trip</li>
        {% endfor %}
    </ul>
    {% else %}
    <h2><strong>There are no upcoming trips</strong></h2>
    {% endif %}
</div>

<div>
    {% if socials %}
    <h2>Upcoming socials</h2>
    <ul>
        {% for social in socials %}
        <li>{{ social.name }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <h2><strong>There are no upcoming Socials</strong></h2>
    {% endif %}
</div>

<!--<img src="{% static 'images/rango.jpg' %}" alt="picture of rango" />-->
{% endblock %}