{% extends 'canoe_club/base.html' %}
{% load staticfiles %}

{% block title_block %}
    maintenance shed
{% endblock %}

{% block body_block %}
    <h1 class="text-center text-danger">Maintenance Shed</h1>
    {% if kit_list %} <!--if there is stuff in the database-->
    <div class="container p-3 justify-content-center" style="flex-direction: column;">
        {% for kit in kit_list %}
            <div class="row m-3 justify-content-center">
                <div class="col-sm-4 text-white" style="background-color: rgba(0,0,0,0.25);">
                    <a href="{% url 'canoe_club:main_shed_kit' kit.slug %}" class="text-warning">
                        <h4>{{ kit.name }}</h4>
                    </a>
                    <p>{{ kit.maintenance_problem }}</p>
                </div>
                <div class="col-sm-2 bg-primary min-h-100 m-0 p-0">
                    <form action="." method="POST" class="input-group h-100">
                        {% csrf_token %}
                        <input type="hidden" name="change" id="change" value="{{ kit.slug }},">
                        <div class="input-group-btn">
                            <button onclick="minus(this)" class="btn btn-danger btn-number h-100" style="width: 36px">
                                -
                            </button>
                        </div>
                        <div onchange="check(this)" id="quantity" name="quantity" class="h-100 form-control input-number col-xs-1" value=0 min=1 max=100>{{ kit.amount }}</div>
                        <div class="input-group-btn">
                            <button onclick="plus(this)" class="btn btn-success btn-number h-100 w-100" style="width: 36px">
                                +
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-2 bg-info">
                    <div class="row flex-column">
                        <div class="col p-0 bg-warning">
                            <form action="." method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="change" value="{{ kit.slug }},move">
                                <button type="submit" class="btn btn-outline-dark w-100" data-type="" data-field="">Move Shed</button>
                            </form>
                        </div>
                        <div class="col p-0 bg-danger">
                            <form action="." method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="change" value="{{ kit.slug }},remove">
                                <button type="submit" class="btn btn-outline-dark w-100">Remove Item</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function check(not_this){
            if(not_this.value == ''){not_this.value =0}
        }
        function minus(not_this){
            const form = not_this.parentElement.parentElement;
            const counter = form.children.namedItem('change');
            counter.value += '-1';
            form.submit();
        }
        function plus(not_this){
            const form = not_this.parentElement.parentElement;
            const counter = form.children.namedItem('change');
            counter.value += '1';
            form.submit();
        }
    </script>

{% endif %}
{% endblock  %}