{% extends 'canoe_club/base.html' %}
{% load staticfiles %}

{% block title_block %}
    maintenance shed
{% endblock %}

{% block body_block %}
<h3 class="text-center">Maintenance Shed</h3>

{% if kit %} <!--if there is stuff in the database-->
    
        <h1>{{ kit.name }}</h1>

    <div class="container" style="flex-direction: column;">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-fluid rounded" src="{% static 'images/club_kit_photo.jpg' %}" alt="image">
            </div>
            <div class="col-sm-4 bg-info">
                <h4>Kit</h4>
                <p>Maintenance Problem</p>
            </div>
            <div class="col-sm-3 bg-dark">
                <p>insert + button</p>
                <p>insert - button</p>
            </div>
            <div class="col-s-3 bg-info">
                <p>move</p> 
                <p>remove button</p>
            </div>
        </div>   
    </div>

{% endblock %}